<div class="container" id="sb-nav">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/images/SayberryGamesLogo.png" class="d-inline-block align-text-top">
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">HOME</a></li>
      <li class="nav-item"><a href="/team" class="nav-link {% if page.url == '/team' %}active{% endif %}">TEAM</a></li>
      <li class="nav-item"><a href="/games" class="nav-link {% if page.url == '/games' %}active{% endif %}">GAMES</a></li>
      <li class="nav-item"><a href="/news" class="nav-link {% if page.url == '/news' %}active{% endif %}">NEWS</a></li>
    </ul>
  </header>
</div>
<!-- <nav class="navbar" style="padding:0px !important;">
  <div id="top-menu">
    <div id="top-menu-layout">
      <div id="top-logo">
        <a href="/">
          <img src="/images/SayberryGamesLogo.png" class="d-inline-block align-text-top">
        </a>
      </div>
      <div id="main-menus collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="main-menu-button" href="/">
              <font class='main-menu-text {% if page.url == "/" %}main-menu-text-selected{% endif %}'>HOME</font>
              {% if page.url == "/" %}
                <hr class="selected-button">
              {% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a class="main-menu-button" href="/team">
              <font class='main-menu-text {% if page.url == "/team" %}main-menu-text-selected{% endif %}'>TEAM</font>
              {% if page.url == "/team" %}
                <hr class="selected-button">
              {% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a class="main-menu-button" href="/games">
              <font class='main-menu-text {% if page.url == "/games" %}main-menu-text-selected{% endif %}'>GAMES</font>
              {% if page.url == "/games" %}
                <hr class="selected-button">
              {% endif %}
            </a>
          </li>
          <li class="nav-item">
            <a class="main-menu-button" href="/news">
              <font class='main-menu-text {% if page.url == "/news" %}main-menu-text-selected{% endif %}'>NEWS</font>
              {% if page.url == "/news" %}
                <hr class="selected-button">
              {% endif %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<!-- 
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->
<!-- 
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav">
    <li class="nav-item"> -->
